<mat-card>
  <mat-card-header>
    <h2>Contact details</h2>
  </mat-card-header>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="form-fields">
      <mat-form-field appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstname" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Genre</mat-label>
        <mat-select name="genre" formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!contactForm.valid">Submit</button>
    </mat-card-content>
  </form>
</mat-card>
  


